.blog-preview {
  flex: 1 0 300px;

  display: flex;
  flex-direction: column;

  color: inherit;
  box-shadow: #00000059 0px 5px 15px;
  border: 2px solid #ffffff00;
  background-color: #fff;
}

.blog-preview:hover {
  border: 2px solid #0f457a;
}

.blog-preview>a {
  display: flex;
  flex-direction: column;
}

.blog-preview .img-wrapper {
  max-height: 225px;
  overflow: hidden;
}

.blog-preview a img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.blog-preview section.text {
  flex: 0 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  text-decoration: none;
  color: black;
}

.blog-preview>a:visited {
  color: black;
  text-decoration-color: white;
}

.blog-preview>a:visited>h2 {
  color: #001130;
}