form {
  display: flex;
  background-color: #fff;
  flex: 0 1 450px;

  width: 100%;
  max-width: 768px;
}

.parts {
  display: flex;
  flex-direction: column;

  background-color: #0f447a;
  color: #fff;
}

.parts .toggle-section {
  border-radius: 0;
  padding: 1rem;
}

.toggle-section:hover {
  background-color: #d1d1d131;
}

form button:focus {
  font-weight: normal;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  line-height: 1.35;
}

.editor .title-area {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
}

#title-section textarea {
  margin-top: 1rem;
  border: unset;
  outline: none;
  overflow: scroll;
  resize: vertical;
  border-bottom: 1px solid #000;
}

#content-section textarea {
  font-size: 1.05rem;
  margin-top: 1rem;

  border: unset;
  outline: none;
  overflow: scroll;
  resize: vertical;

  padding: 0.5rem;

  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#references-section input {
  border: none;
  border-bottom: 1px dashed black;
  border-radius: 0;
}

.reference-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.reference-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reference-item input {
  flex: 1;
}

#title {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  height: 38px;
  min-height: 38px;
  max-height: 90px;

  font-size: 24px;
}

#title:focus-visible {
  border-color: #398fff;
}

.image-upload-container {
  margin-top: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px dashed #125988;
  border-radius: 5px;
  padding: 20px;

  height: 300px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.image-upload-container:hover {
  background-color: #145faa38;
}

.upload-text {
  display: block;
  font-weight: bold;
  color: #125988;
  margin-top: 10px;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  /* display: none; */
}

.image-input {
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 1rem;
}

#image-section button {
  padding: 0.35rem;
  background-color: #0f447a;
  color: #fff;
}

#image-section button:hover {
  background-color: #004cbe;
}

#add-reference {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}