footer {
  display: flex;
  justify-content: space-between;

  width: 100%;
  background-color: #0f457a;
  color: #fff;
}

footer section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

footer a,
footer ul {
  list-style: none;
  color: #fff;
}

footer .quick-links>ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer .contacts {
  display: grid;
  grid-template-columns: 1fr 12fr;
  justify-items: start;
  align-items: center;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  footer section {
    padding: 2rem 1rem;
  }
}