nav.navbar {
  flex: 0 1;
  background-color: #0f457a;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section.main-links {
  flex: 1 0;
}

nav.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 600;
  transition: color 0.3s ease;
}


nav.navbar a.active {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;

}

nav.navbar a.active:hover {
  border-bottom: 2px solid #ffffff;
}

a.profile-link {
  justify-self: flex-end;
}