body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
}

main h1,
main h2,
main h3 {
  width: max-content;
  color: #0e4286;
  background-color: #fff;
}

main>section {
  background-color: #fff;
  max-width: 50%;
}

main>section>h2 {
  margin-bottom: 0.5rem;
}