body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  flex-direction: column;
}

.left-panel {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  gap: 1rem;

  border-right: 1px solid #aaaaaa81;
  background-color: #fff;
}

.left-panel>section>a {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #0f457a;
}

hr {
  border-style: solid;
  border-color: #292929;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blogs {
  flex: 5;
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
  gap: 1.5rem; /* Space between articles */
=======
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
>>>>>>> b707c652419470b666c6083dbc0b02b8bd89feb1
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px; /* Add some margin for content width control */
}

.article-preview {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 0.5rem;
  max-width: 250px; /* Adjust size */
  margin: 0 auto;
}

.article-preview img {
  max-width: 80%;
  height: auto;
  margin: 0.5rem auto;
}

.article-preview p {
  font-size: 0.9rem;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem 0;
}

.pagination-link {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #0056b3;
}

.msg-wrapper {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.no-articles {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width: 1024px) {
  .blogs {
    grid-template-columns: 1fr 1fr; /* 2 columns for smaller screens */
  }
}

@media (max-width: 768px) {
  .blogs {
    display: flex;
    flex-wrap: wrap;
  }
}
