body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

.left-panel {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  gap: 1rem;

  border-right: 1px solid #aaaaaa81;
  background-color: #fff;
}

.left-panel>section>a {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #0f457a;
}

hr {
  border-style: solid;
  border-color: #292929;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.blogs {
  flex: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .blogs {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .blogs {
    display: flex;
    flex-wrap: wrap;
  }
}