body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 768px;
}

.article-header {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px) brightness(50%);
  transform: scale(1.1);
}

.header-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position: relative;
  text-align: center;
}

.header-content {
  flex: 1;
  width: 100%;
  max-width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  text-shadow: 0px 4px 10px #000000b3;
}

.header-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article-author {
  font-size: 1.2rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

div.edit {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.article-content {
  padding: 1rem;
  background-color: #fff;
  max-width: 800px;
  box-shadow: 0px 4px 15px #0000001a;
}

.article-content .back-button {
  color: #000;
}

.article-content .back-button:hover {
  color: #3498db;
}

.article-body {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.8;
}

.article-references {
  margin-top: 2rem;
}

.article-references h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.article-references ul {
  list-style: none;
  padding-left: 0;
}

.article-references li {
  margin-bottom: 0.5rem;
}

.article-references a {
  color: #3498db;
  text-decoration: none;
}

.article-references a:hover {
  text-decoration: underline;
}