body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	display: flex;

	justify-content: center;
	align-items: center;
	padding: 2rem;
}

div.profile-card {
	display: flex;
	flex-direction: column;

	width: 768px;
	box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
}

div.profile-card>h1 {
	padding: 1rem;
	color: #fff;
	background-color: #0f457a;
}

div.profile-card>h2 {
	padding: 1rem;
	background-color: #fff;
	border-top: 2px dashed #0f457a;
}

section.profile-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	background-color: #fff;
}

.btn-logout {
	padding: 0.4rem;
	background-color: #0f457a;
	color: #fff;
}

section.user-articles {
	display: flex;
	flex-wrap: wrap;

	gap: 1rem;
	padding: 1rem;

	background-color: #fff;
	box-shadow: #32325d40 0px 50px 100px -20px, #0000004d 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
}