body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;

  /* gap: 4rem; */
  text-align: center;

  max-width: 800px;
  margin: 0 auto;
}

main>* {
  padding: 2rem;
}

main>header {
  padding: 5rem;
}

main h1,
main h2 {
  font-weight: bold;
  color: #005f73;
}