@import url(https://fonts.bunny.net/css?family=figtree:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i);

@import url(https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css);

* {
  font-family: 'figtree', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  background-color: #fff;
  opacity: 0.8;
  background-image: radial-gradient(#000000 1px, transparent 1px), radial-gradient(#000000 1px, #ffffff 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

dialog {
  border: unset;
}

input {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

input:focus-visible {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;

  border-radius: 0.25rem;
  padding: 0.25rem;
}

button:focus {
  font-weight: 800;
}

dialog::backdrop {
  background-color: #00000042;
}